<%- include('header'); -%>

<body>
    <div>
        <div>
            <a href="/users">Pagination</a>
        </div>
        <div>
            <a href="/users/search">Search Filter</a>
        </div>
    </div>
</body>

<%- include('footer'); -%>