<%- include('header'); -%>

<body>
    <div>
        <form action="/users/search" method="GET">
            <input type="text" placeholder="Search">
            <button type="submit">Search</button>
        </form>
    </div>
</body>

<%- include('footer'); -%>